.header {
   background-color: palegreen;

   grid-area: header;
}

.logoBlock {
   float: left;
}

.logoBlock img {
   width: 60px;
   height: 60px;
}

.loginBlock {
   font-size: 1.5em;

   float: right;

   padding: 15px;
}
.loginBlock a {
   text-decoration: none;

   color: white;
}
