.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form {
   display: flex;
   flex-direction: column;
   line-height: 2em;
}

.form input,
.form textarea{
   width: 100%;
   padding: 5px 5px;
   margin: 5px 0;
}

.form input[type=submit] {
   margin: 20px 0;
}

