.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form {
   /*display: flex;*/
   /*flex-direction: column;*/
   line-height: 2em;
}

.form input,
.form textarea{
   padding: 5px 5px;
   margin: 5px 0;
}

.form input[type=submit] {
   margin: 20px 0;
}

.circle {
   position: absolute;
   top: 0;
   right: 0;
   font-style: normal;
   text-align: center;
   height: 30px;
   width: 30px;
   line-height: 30px;
   border-radius: 15px;
   border: 1px solid #ddd;
   background: #eee;
}